<div class="row">
    <div class="col-md-6">
        <app-card [header]="cards.card1.header" [title]="cards.card1.title" [description]="cards.card1.description"></app-card>
    </div>
    <div class="col-md-6">
        <app-card [header]="cards.card2.header" [title]="cards.card2.title" [description]="cards.card2.description"></app-card>

    </div>
</div>
<button class="btn btn-primary" (click)="cambiarCard1()">Card 1</button>
<button class="btn btn-primary" (click)="cambiarCard2()">Card 2</button>