.title_1 {
    font-size: 10px;
    color: red;
}

.title_2 {
    font-size: 10px;
    color: blue;
}

.body{
    background-color: rgb(233, 233, 179);
}


.header{
    background-color:  rgb(186, 186, 191);
}

