<div class="row">
    <div class="col-md-4" *ngFor="let producto of productos">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <ng-container [ngTemplateOutlet]="boton" [ngTemplateOutletContext]="producto"></ng-container>
            </div>
        </div>

    </div>
</div>


<ng-template let-name="button" #boton>
    <a href="#" class="btn btn-primary">{{name}}</a>
</ng-template>